* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* font families used in this project */
body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Header style start */
header {
  padding:100px 35px 30px 35px;
  background-color: darkslategrey;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* Sanam Ganjian */
header h1 {
  font-size: 36px;
  font-weight: bold;
  display: inline;
  background-color: rgb(236, 141, 58);
  color: darkslategrey;
  padding: 15px;
}
/* Header style end */

/* Navigation bar style start */
header a {
  color:rgb(236, 141, 58);
  text-decoration: none;
}

header nav {
  float: right;
  margin-top: 25px;
}

header nav ul li {
  display: inline;
}

header nav ul li a {
  margin: 0 25px;
  font-weight: lighter;
  font-size: 22px;
  border-bottom: solid 3px rgb(236, 141, 58);
}

header nav ul li a:hover {
  background: rgb(236, 141, 58);
  color: darkslategrey;
}
/* Navigation bar style end */

/* Footer style start */
footer {
  background:darkslategrey;
  width: 100%;
  padding: 20px 35px;
}

footer h2 {
  display: inline;
  color: rgb(236, 141, 58);
  font-size: 30px;
  margin: 0;
}
/* Footer style end */

/* Hero style start */
.hero {
  background-color:rgb(236, 141, 58); 
  text-align: center;
  height: 314px;
  position: relative;
}

/* Create rounded image */
.hero img{
  border-radius: 50%;
}

.hero-text {
  color:rgb(236, 141, 58);
  background-color: darkslategrey;
  padding: 15px;
  float: right;
  position: absolute;
  right: 40px;
  bottom: 40px;
  text-align: center;
}
/* Hero style end */

/* Portfolio sections style start*/
.portfolio-sections{
  background-color: bisque;
  color: darkslategrey;
  padding: 20px 0px;
  display: flex;
  width: 100%;
}

.portfolio-section-title{
  width: 314px;
  padding: 10px 20px;
  text-align: end;
  font-size: x-large;
  border-right: 5px solid rgb(236, 141, 58);
}

.portfolio-section-content{
  padding: 20px 0 20px 20px;
  line-height: 1.3;
  width: 70%;
  font-size: x-large;
}

.projects{
  flex-basis: 70%;
  display: flex;
  flex-wrap: wrap;
  justify-content:space-around;
}

.projects img:hover {
  opacity: 0.5;
}

.featured-project-image{
  position: relative;
  padding: 20px;
}

.featured-project-image img{
  max-width: 90%;
}

.featured-project-description{
  position: absolute;
  background-color: rgb(236, 141, 58);
  padding: 10px 15px;
  width: 200px;
  color: darkslategrey;
  text-align: right;
  bottom: 24px;
}

.other-projects{
  position: relative;
}

.other-projects-description {
  position: absolute;
  background-color: rgb(236, 141, 58);
  padding: 10px 15px;
  width: 200px;
  color: darkslategrey;
  text-align: right;
  bottom: 4px;
}

/* Contact me info style start */
.contact-me{
  display: flex;
  justify-content: space-between;
}

.contact-method{
  flex: 1;
}

.contact-method a{
  padding: 20px 30px;
  font-size: x-large;
  text-decoration: none;
  color:darkslategrey; ;
}

.contact-method a:hover{
  background: darkslategrey;
  color: bisque;
}

/* Contact me info style end */
/* Portfolio sections style end */

/* Media query for smaller desktop screens and smaller */
@media screen and (max-width: 980px) {
  /* this will be applied on any screen smaller than 980px */

  header{
    padding-bottom: 0;
    justify-content: center;
    position: relative;
  }

  header h1 {
    width: 70%;
    text-align: center;
    font-size: 45px;
  }

  header nav ul {
    margin-top: 15px;
    margin-bottom: 15px;
    justify-content: center;
  }

  header nav ul li a{
    font-size: 25px;
  }

  .portfolio-section-title{
    font-size: 35px;
    width: 60%;
  }

  .hero-text{
    font-size: 20px;
    bottom: 0;
    right: 0;
  }

  footer h2, footer div {
    text-align: center;    
    width: 100%;
  }

}

/* Media query for tabltes and smaller */
@media screen and (max-width: 768px) {
  /* this will be applied on any screen between 768px and 575px */

}

/* Media query for mobile phones and smaller */
@media screen and (max-width: 575px) {

}