* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Header style start */
header {
  padding:100px 35px 30px 35px;
  background-color: darkslategrey;
}

header h1 {
  font-size: 36px;
  font-weight: bold;
  display: inline;
}

header h1 a{
  background-color: rgb(236, 141, 58);
  color: darkslategrey;
  padding: 15px;
}
/* Header style end */

/* Navigation bar style start */
header a {
  color:rgb(236, 141, 58);
  text-decoration: none;
}

header nav {
  float: right;
  margin-top: 25px;
}

header nav ul li {
  display: inline;
}

header nav ul li a {
  margin: 0 25px;
  font-weight: lighter;
  font-size: 22px;
  border-bottom: solid 3px rgb(236, 141, 58);
}

header nav ul li a:hover {
  background: rgb(236, 141, 58);
  color: darkslategrey;
  
}
/* Navigation bar style end */

/* Footer style start */
footer {
  background:darkslategrey;
  width: 100%;
  padding: 20px 35px;
}

footer h2 {
  display: inline;
  color: rgb(236, 141, 58);
  font-size: 30px;
  margin: 0;
}
/* Footer style end */

/* Hero style start */
.hero {
  background-color:rgb(236, 141, 58); 
  background-image: url(../images/sanam-profile.jpg);
  background-repeat: no-repeat;
  background-position: center;
  height: 314px;
  position: relative;
}

.hero-text {
  background-color: darkslategrey;
  padding: 15px;
  float: right;
  position: absolute;
  right: 40px;
  bottom: 40px;
}

.hero h2{
  color:rgb(236, 141, 58);
}
/* Hero style end */

/* Portfolio sections style start*/
.portfolio-sections{
  background-color: bisque;
  display: flex;
  width: 100%;
  justify-content: left;
  color: darkslategrey;
  padding: 20px 0 20px 0;
}

.portfolio-section-title{
  width: 314px;
  padding: 20px 20px 20px 0;
  text-align: end;
  font-size: x-large;
  border-right: 5px solid rgb(236, 141, 58);
}

.portfolio-section-content{
  padding: 20px 0 20px 20px;
  line-height: 1.3;
  width: 70%;
  font-size: x-large;
}

.projects{
  width: 70%;
  padding: 10px 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; 
}

.projects img:hover {
  opacity: .5;
}

.featured-project{
  position: relative;
}

.featured-project-image {
  width: 90%;
  height: auto;
  flex: 2;
}

.featured-project-description{
  position: absolute;
  background-color: rgb(236, 141, 58);
  padding: 10px 15px;
  width: 200px;
  bottom: 4px;
  color: darkslategrey;
  text-align: right;
}

.other-projects{
  position: relative;
}

.other-projects-description {
  position: absolute;
  background-color: rgb(236, 141, 58);
  padding: 10px 15px;
  width: 200px;
  color: darkslategrey;
  text-align: right;
  bottom: 14px;
}

.other-projects {
  flex: 1;
  padding: 10px 20px;
}

/* Contact me info style start */
.contact-me{
  display: flex;
  justify-content: space-around;
}

.contact-method{
  flex: 1;
}

/* Contact me info style end */
/* Portfolio sections style end */

/* Media query for smaller desktop screens and smaller */
@media screen and (max-width: 980px) {
    /* this will be applied on any screen smaller than 980px */
 
}